
@charset "utf-8";

/*header*/

#main_gnb_wrap{width:100%;height:30px;border-bottom:1px solid #ddd; }
#main_gnb{width:980px;margin:0 auto;}

		#gnb{float:right;}
		#gnb>ul>li{float:left; border-left:1px solid#000;}
		#gnb>ul>li:first-child{border-left: none;}
		#gnb>ul>li>a{display:block; line-height: 20px; padding: 0 10px;}

/*logo_wrap*/
#logo_wrap{width:980px;height:60px;margin:0 auto; position:relative; padding-top: 5px;}
#logo_wrap>h1{width:250px;margin:0 auto; text-align:center; }
#logo_wrap>div.toggle{position: absolute; top:5px;right:0;}

/*main lnb*/
#main_lnb_wrap{background: #1c5da3;}
#main_lnb{width:980px; margin:0 auto;}
	
	#lnb>ul{width:100%;}
	#lnb>ul>li{float:left; width:16.66%;
				border-right: 1px solid #336eac;}
	#lnb>ul>li:first-child{border-left:1px solid #336eac;}
	#lnb>ul>li>a{display:block;line-height: 40px; 
				text-align: center; color:white; font-weight:bold;}
	#lnb a:hover{background:skyblue; color:#1c5da3;}

/*visual_lab	*/
#visual_wrap{
			height:400px; overflow: hidden;
			background:#203969 url(../images/visual_bg.jpg) 
			no-repeat center;
			}
div.visual{width:980px; height:400px; 
			margin:0 auto; /*position:relative; overflow:hidden;*/}
/*div.visual img{position:absolute;}
div.visual .img01{bottom:-100px; right:0;}
div.visual .img02{left:0; top:70px;}
*/
/*section main_banner*/
section.main_banner{background: #eeeeee;}
section.main_banner .banner{width:980px;margin:0 auto;}
div.banner>ul{width:100%; margin-bottom: 40px}
div.banner>ul>li{float:left;width:196px; height:200px;  text-align: center;}
div.banner>ul>li:nth-child(1){background-color:#7c99b9;}
div.banner>ul>li:nth-child(2){background-color:#4f74a1;}
div.banner>ul>li:nth-child(3){background-color:#4b8ce0;}
div.banner>ul>li:nth-child(4){background-color:#3db5f2;}
div.banner>ul>li:nth-child(5){background-color:#95c8ff;}

div.banner>ul>li:nth-child(1):hover,
div.banner>ul>li:nth-child(2):hover,
div.banner>ul>li:nth-child(3):hover,
div.banner>ul>li:nth-child(4):hover,
div.banner>ul>li:nth-child(5):hover{background-color:orange;}

div.banner>ul>li .card{width:100%;padding:15px;}
div.banner>ul>li img{display:block;margin:0 auto;}
div.banner>ul>li .card-body{padding-top:20px;color:white;}
div.banner>ul>li .card-title{margin-bottom:5px;}
div.banner>ul>li .text-card{}

section.main_article{width:100%;}
section.main_article>ul{width:980px; margin:0 auto;}
section.main_article>ul>li{float:left;width:310px; margin-right:25px;}
section.main_article>ul>li:last-child{margin-right:0}
section.main_article>ul>li>.card{border:1px solid lightgray;margin-bottom: 25px}
section.main_article>ul>li .card-body{padding:15px; }
section.main_article>ul>li h3{padding-bottom: 5px}

section.sec_article{width:100%;margin-bottom: 40px}
section.sec_article>ul{width:980px; margin:0 auto;}
section.sec_article>ul>li{float:left;width:310px; margin-right:25px;}
section.sec_article>ul>li:last-child{margin-right:0}
section.sec_article>ul>li>.card{width:310px;}
section.sec_article>ul>li .card-body{padding:10px; border:1px solid lightgray}
section.sec_article>ul>li h3{padding: 5px;}
section.sec_article>ul>li p{padding-left: 5px; padding-top: 5px}
section.sec_article>ul>li img{float:right; width:150px; margin-top: 30px; margin-right: 10px}

div.footerbar1{width:100%;background:#094;}
div.footerbar1>.bar1{width:980px;margin:0 auto;}
div.footerbar1 ul{float:left;position: relative;}
div.footerbar1 ul>li{float:left;padding:10px; font-size: 13px; color:white;}
div.footerbar1 ul>li:after{content:"";display: block;position:absolute;
							width:2px; height:12px;
							top:14px;background:#fff;right:0;}
div.footerbar1 #top_button{color: white; float:right;}
div.footerbar1 #top_button>p{font-size:12px;padding-right:3px;}

div.footerbar2{width:100%;background:#077;}
div.footerbar2>.bar2{width:980px;margin:0 auto; padding-top:10px}
div.footerbar2 ul{}
div.footerbar2 ul>h2{float:left;padding:27px 10px ;color: white; text-align: center;}
div.footerbar2 ul>li{float:left;padding:10px; padding-left:50px;font-size: 12px; color:lightgray;}

#main_footer{}
#footer_nav{background:#4d4d4d; height:40px;}
.footer_menu{width:980px;margin:0 auto; position: relative;}
.footer_menu>ul{position: absolute;}
.footer_menu>.top_button{position: absolute; right:0;}
.footer_menu>ul>li{float:left;}
.footer_menu>ul>li:after{content:"";display: block;position:absolute;
							width:20px; height:12px;
							top:14px;background:#fff;right:0;}
.footer_menu>ul>li>a{display: block; line-height:40px;color: #dadada;padding:0 18px;}